{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>

    <form action="{% url 'save_edit' %}" method="POST">
    {% csrf_token %}
        <label for="">Title:</label>
        <label>
            <input type="text" name="title" placeholder="Enter a title" value="{{ title }}">
        </label>
        <br>
        <label for="">Markdown Content:</label>
        <br>
        <textarea name="content">{{ content }}</textarea>
        <br>
        <input type="submit" value="Edit Page" class="btn btn-primary">

    </form>
{% endblock %}