{% extends "encyclopedia/layout.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
{#    il | safe serve a compilare il file html #}
    {{ content | safe}}

    <form action="{% url 'edit' %}" method="POST">
    {% csrf_token %}
        <input type="hidden" name="entry_title" value="{{ title }}">
        <input type="submit" value="Edit" class="btn btn-danger">
    </form>
{% endblock %}