{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>All Pages</h1>

    <ul>
        {% for entry in entries %}
            <li><a href="{% url 'entry' title=entry %}  ">{{ entry }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}