{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>New Page</h1>

    <form action="{% url 'new_page' %}" method="POST">
    {% csrf_token %}
        <label for="">Title:</label>
        <label>
            <input type="text" name="title" placeholder="Enter a title">
        </label>
        <br>
        <label for="">Markdown Content:</label>
        <br>
        <textarea name="content"></textarea>
        <br>
        <input type="submit" value="Create Page" class="btn btn-primary">

    </form>
{% endblock %}