html {
    font-size: 18px;
    font-family: "Roboto", arial, sans-serif;
}

a {
    text-decoration: none;
    color: initial;
}


/* HEADER */

header {
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
}

#advanced {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    padding-left: 15px;
    padding-right: 15px;
}

header a:hover {
    color: blue;
    text-decoration: underline;
}

#header-text {
    font-size: 24px;
    font-weight: bold;
    color:red;
    margin: 40px 0 0 60px;
}


/*  MAIN SECTION */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:100px;
}

.advanced-section {
    margin-top: 50px;
    margin-left: 60px;
}


/* GOOGLE IMAGE */

.main img {
    margin-top: 100px;
    width: 100%;
    max-width: 400px;
    height: auto;
}

.headerlogo {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.subtext {
    color: cornflowerblue;
    position: relative;
    left: 153px;
    top: -24px;
    margin-bottom:-20px;
}

/* FORM TEXT SEARCH */

form {
    width: 100%;
    text-align: center;
}

#textSearch {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 40px;
    padding: 8px 0 8px 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid grey;
}

#search-image {
    content: " ";
    display: block;
    position: absolute;
    top: -98px;
    left: 10px;
    height: 18px;
    width: 18px;
}

#textSearch:hover {
    box-shadow: 0 0 15px lightgray;
}

label {
    position: relative;
}

/* ADVANCED SEARCH */

#find-pages {
    font-weight: bold;
}

.advanced-label {

    display: flex;
    padding: 10px 10px 5px 0;
    justify-content: space-between;
}

.advanced-search {
    display: flex;
    width: 100%;
    max-width: 400px;
    height: fit-content;
    margin-left: 60px;


}
.advanced-form {
    margin-top: 20px;
    width:700px;
}

.advanced-text {
    font-size: 16px;
}

#advanced-button {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 70px;
    width:690px;
}
#advanced-button-search {
    background-color: cornflowerblue;
    color: white;

}
#advanced-button-search:hover {
    background-color: royalblue;
}

/* SEARCH BUTTON */

.button {
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
}




